In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import tensorflow as tf
import warnings 
warnings.filterwarnings('ignore')
import pickle

In [51]:
df_adm = pd.read_csv('data\ADMISSIONS.csv', parse_dates=['ADMITTIME', 'DISCHTIME', 'DEATHTIME'],infer_datetime_format=True, engine="c")

df_adm = df_adm[['SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME', 'DEATHTIME', 'ADMISSION_TYPE']]

In [52]:
df_adm.head()

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE
0,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,EMERGENCY
1,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,ELECTIVE
2,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaT,EMERGENCY
3,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,EMERGENCY
4,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,EMERGENCY

# now as we can see for subjectid = 23 multiple admission records exists it might be the case that the patient is readmitted

In [53]:
df_adm = df_adm.sort_values(['SUBJECT_ID','ADMITTIME'])
df_adm = df_adm.reset_index(drop = True)

In [54]:
df_adm.tail()

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE
58971,99985,176670,2181-01-27 02:47:00,2181-02-12 17:05:00,NaT,EMERGENCY
58972,99991,151118,2184-12-24 08:30:00,2185-01-05 12:15:00,NaT,ELECTIVE
58973,99992,197084,2144-07-25 18:03:00,2144-07-28 17:56:00,NaT,EMERGENCY
58974,99995,137810,2147-02-08 08:00:00,2147-02-11 13:15:00,NaT,ELECTIVE
58975,99999,113369,2117-12-30 07:15:00,2118-01-04 16:30:00,NaT,ELECTIVE

# Now we will figure out the next admit time and type

In [55]:
df_adm['NEXT_ADMITTIME'] = df_adm.groupby('SUBJECT_ID').ADMITTIME.shift(-1)

df_adm['NEXT_ADMISSION_TYPE'] = df_adm.groupby('SUBJECT_ID').ADMISSION_TYPE.shift(-1)

df_adm.head(50)

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,NEXT_ADMITTIME,NEXT_ADMISSION_TYPE
0,2,163353,2138-07-17 19:04:00,2138-07-21 15:48:00,NaT,NEWBORN,NaT,NaN
1,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,EMERGENCY,NaT,NaN
2,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,EMERGENCY,NaT,NaN
3,5,178980,2103-02-02 04:31:00,2103-02-04 12:15:00,NaT,NEWBORN,NaT,NaN
4,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,ELECTIVE,NaT,NaN
5,7,118037,2121-05-23 15:05:00,2121-05-27 11:57:00,NaT,NEWBORN,NaT,NaN
6,8,159514,2117-11-20 10:22:00,2117-11-24 14:20:00,NaT,NEWBORN,NaT,NaN
7,9,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,EMERGENCY,NaT,NaN
8,10,184167,2103-06-28 11:36:00,2103-07-06 12:10:00,NaT,NEWBORN,NaT,NaN
9,11,194540,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,EMERGENCY,NaT,NaN
10,12,112213,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,ELECTIVE,NaT,NaN
11,13,143045,2167-01-08 18:43:00,2167-01-15 15:15:00,NaT,EMERGENCY,NaT,NaN
12,16,103251,2178-02-03 06:35:00,2178-02-05 10:51:00,NaT,NEWBORN,NaT,NaN
13,17,194023,2134-12-27 07:15:00,2134-12-31 16:05:00,NaT,ELECTIVE,2135-05-09 14:11:00,EMERGENCY
14,17,161087,2135-05-09 14:11:00,2135-05-13 14:40:00,NaT,EMERGENCY,NaT,NaN
15,18,188822,2167-10-02 11:18:00,2167-10-04 16:15:00,NaT,EMERGENCY,NaT,NaN
16,19,109235,2108-08-05 16:25:00,2108-08-11 11:29:00,NaT,EMERGENCY,NaT,NaN
17,20,157681,2183-04-28 09:45:00,2183-05-03 14:45:00,NaT,ELECTIVE,NaT,NaN
18,21,109451,2134-09-11 12:17:00,2134-09-24 16:15:00,NaT,EMERGENCY,2135-01-30 20:50:00,EMERGENCY
19,21,111970,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,EMERGENCY,NaT,NaN
20,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,EMERGENCY,NaT,NaN
21,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,ELECTIVE,2157-10-18 19:34:00,EMERGENCY
22,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaT,EMERGENCY,NaT,NaN
23,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,EMERGENCY,NaT,NaN
24,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,EMERGENCY,NaT,NaN
25,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaT,EMERGENCY,NaT,NaN
26,27,134931,2191-11-30 22:16:00,2191-12-03 14:45:00,NaT,NEWBORN,NaT,NaN
27,28,162569,2177-09-01 07:15:00,2177-09-06 16:00:00,NaT,ELECTIVE,NaT,NaN
28,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaT,URGENT,NaT,NaN
29,31,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,EMERGENCY,NaT,NaN
30,32,175413,2170-04-04 08:00:00,2170-04-23 12:45:00,NaT,ELECTIVE,NaT,NaN
31,33,176176,2116-12-23 22:30:00,2116-12-27 12:05:00,NaT,EMERGENCY,NaT,NaN
32,34,115799,2186-07-18 16:46:00,2186-07-20 16:00:00,NaT,EMERGENCY,2191-02-23 05:23:00,EMERGENCY
33,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaT,EMERGENCY,NaT,NaN
34,35,166707,2122-02-10 11:15:00,2122-02-20 15:30:00,NaT,ELECTIVE,NaT,NaN
35,36,182104,2131-04-30 07:15:00,2131-05-08 14:00:00,NaT,EMERGENCY,2131-05-12 19:49:00,EMERGENCY
36,36,122659,2131-05-12 19:49:00,2131-05-25 13:30:00,NaT,EMERGENCY,2134-05-10 11:30:00,ELECTIVE
37,36,165660,2134-05-10 11:30:00,2134-05-20 13:16:00,NaT,ELECTIVE,NaT,NaN
38,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaT,EMERGENCY,NaT,NaN
39,38,185910,2166-08-10 00:28:00,2166-09-04 11:30:00,NaT,EMERGENCY,NaT,NaN
40,39,106266,2114-11-29 21:04:00,2114-12-09 15:10:00,NaT,NEWBORN,NaT,NaN
41,41,101757,2132-12-31 10:30:00,2133-01-27 15:45:00,NaT,ELECTIVE,NaT,NaN
42,42,119203,2116-04-26 18:58:00,2116-04-30 18:16:00,NaT,EMERGENCY,NaT,NaN
43,43,146828,2186-10-01 23:15:00,2186-10-11 18:00:00,NaT,EMERGENCY,NaT,NaN
44,44,181750,2192-11-19 18:14:00,2192-11-27 14:35:00,NaT,EMERGENCY,NaT,NaN
45,45,157907,2129-06-10 00:32:00,2129-06-20 14:39:00,NaT,EMERGENCY,NaT,NaN
46,46,144073,2133-02-20 18:21:00,2133-02-24 14:42:00,NaT,EMERGENCY,NaT,NaN
47,49,190539,2186-11-21 07:15:00,2186-11-28 14:05:00,NaT,ELECTIVE,NaT,NaN
48,50,132761,2112-06-23 19:40:00,2112-06-26 10:15:00,NaT,NEWBORN,NaT,NaN
49,51,196010,2128-11-30 10:28:00,2128-12-02 12:35:00,NaT,NEWBORN,NaT,NaN

# So for patients who have more than one admission we have the next date and type of admission. We want to predict "UNPLANNED" re-admissions, so we should filter out next admissions which are "ELECTIVE". Therefore, we get rows where next admission is elective and replace next date and next type with naT and nan respectively.

In [56]:
rows = df_adm.NEXT_ADMISSION_TYPE == 'ELECTIVE'

df_adm.loc[rows,'NEXT_ADMITTIME'] = pd.NaT

df_adm.loc[rows,'NEXT_ADMISSION_TYPE'] = np.NaN

df_adm.head(50)

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,NEXT_ADMITTIME,NEXT_ADMISSION_TYPE
0,2,163353,2138-07-17 19:04:00,2138-07-21 15:48:00,NaT,NEWBORN,NaT,NaN
1,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,EMERGENCY,NaT,NaN
2,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,EMERGENCY,NaT,NaN
3,5,178980,2103-02-02 04:31:00,2103-02-04 12:15:00,NaT,NEWBORN,NaT,NaN
4,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,ELECTIVE,NaT,NaN
5,7,118037,2121-05-23 15:05:00,2121-05-27 11:57:00,NaT,NEWBORN,NaT,NaN
6,8,159514,2117-11-20 10:22:00,2117-11-24 14:20:00,NaT,NEWBORN,NaT,NaN
7,9,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,EMERGENCY,NaT,NaN
8,10,184167,2103-06-28 11:36:00,2103-07-06 12:10:00,NaT,NEWBORN,NaT,NaN
9,11,194540,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,EMERGENCY,NaT,NaN
10,12,112213,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,ELECTIVE,NaT,NaN
11,13,143045,2167-01-08 18:43:00,2167-01-15 15:15:00,NaT,EMERGENCY,NaT,NaN
12,16,103251,2178-02-03 06:35:00,2178-02-05 10:51:00,NaT,NEWBORN,NaT,NaN
13,17,194023,2134-12-27 07:15:00,2134-12-31 16:05:00,NaT,ELECTIVE,2135-05-09 14:11:00,EMERGENCY
14,17,161087,2135-05-09 14:11:00,2135-05-13 14:40:00,NaT,EMERGENCY,NaT,NaN
15,18,188822,2167-10-02 11:18:00,2167-10-04 16:15:00,NaT,EMERGENCY,NaT,NaN
16,19,109235,2108-08-05 16:25:00,2108-08-11 11:29:00,NaT,EMERGENCY,NaT,NaN
17,20,157681,2183-04-28 09:45:00,2183-05-03 14:45:00,NaT,ELECTIVE,NaT,NaN
18,21,109451,2134-09-11 12:17:00,2134-09-24 16:15:00,NaT,EMERGENCY,2135-01-30 20:50:00,EMERGENCY
19,21,111970,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,EMERGENCY,NaT,NaN
20,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,EMERGENCY,NaT,NaN
21,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,ELECTIVE,2157-10-18 19:34:00,EMERGENCY
22,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaT,EMERGENCY,NaT,NaN
23,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,EMERGENCY,NaT,NaN
24,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,EMERGENCY,NaT,NaN
25,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaT,EMERGENCY,NaT,NaN
26,27,134931,2191-11-30 22:16:00,2191-12-03 14:45:00,NaT,NEWBORN,NaT,NaN
27,28,162569,2177-09-01 07:15:00,2177-09-06 16:00:00,NaT,ELECTIVE,NaT,NaN
28,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaT,URGENT,NaT,NaN
29,31,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,EMERGENCY,NaT,NaN
30,32,175413,2170-04-04 08:00:00,2170-04-23 12:45:00,NaT,ELECTIVE,NaT,NaN
31,33,176176,2116-12-23 22:30:00,2116-12-27 12:05:00,NaT,EMERGENCY,NaT,NaN
32,34,115799,2186-07-18 16:46:00,2186-07-20 16:00:00,NaT,EMERGENCY,2191-02-23 05:23:00,EMERGENCY
33,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaT,EMERGENCY,NaT,NaN
34,35,166707,2122-02-10 11:15:00,2122-02-20 15:30:00,NaT,ELECTIVE,NaT,NaN
35,36,182104,2131-04-30 07:15:00,2131-05-08 14:00:00,NaT,EMERGENCY,2131-05-12 19:49:00,EMERGENCY
36,36,122659,2131-05-12 19:49:00,2131-05-25 13:30:00,NaT,EMERGENCY,NaT,NaN
37,36,165660,2134-05-10 11:30:00,2134-05-20 13:16:00,NaT,ELECTIVE,NaT,NaN
38,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaT,EMERGENCY,NaT,NaN
39,38,185910,2166-08-10 00:28:00,2166-09-04 11:30:00,NaT,EMERGENCY,NaT,NaN
40,39,106266,2114-11-29 21:04:00,2114-12-09 15:10:00,NaT,NEWBORN,NaT,NaN
41,41,101757,2132-12-31 10:30:00,2133-01-27 15:45:00,NaT,ELECTIVE,NaT,NaN
42,42,119203,2116-04-26 18:58:00,2116-04-30 18:16:00,NaT,EMERGENCY,NaT,NaN
43,43,146828,2186-10-01 23:15:00,2186-10-11 18:00:00,NaT,EMERGENCY,NaT,NaN
44,44,181750,2192-11-19 18:14:00,2192-11-27 14:35:00,NaT,EMERGENCY,NaT,NaN
45,45,157907,2129-06-10 00:32:00,2129-06-20 14:39:00,NaT,EMERGENCY,NaT,NaN
46,46,144073,2133-02-20 18:21:00,2133-02-24 14:42:00,NaT,EMERGENCY,NaT,NaN
47,49,190539,2186-11-21 07:15:00,2186-11-28 14:05:00,NaT,ELECTIVE,NaT,NaN
48,50,132761,2112-06-23 19:40:00,2112-06-26 10:15:00,NaT,NEWBORN,NaT,NaN
49,51,196010,2128-11-30 10:28:00,2128-12-02 12:35:00,NaT,NEWBORN,NaT,NaN

In [57]:
df_adm = df_adm.sort_values(['SUBJECT_ID','ADMITTIME'])
df_adm[['NEXT_ADMITTIME','NEXT_ADMISSION_TYPE']] = df_adm.groupby(['SUBJECT_ID'])[['NEXT_ADMITTIME','NEXT_ADMISSION_TYPE']].fillna(method = 'bfill')

In [58]:
df_adm.head(50)

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,NEXT_ADMITTIME,NEXT_ADMISSION_TYPE
0,2,163353,2138-07-17 19:04:00,2138-07-21 15:48:00,NaT,NEWBORN,NaT,NaN
1,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,EMERGENCY,NaT,NaN
2,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,EMERGENCY,NaT,NaN
3,5,178980,2103-02-02 04:31:00,2103-02-04 12:15:00,NaT,NEWBORN,NaT,NaN
4,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,ELECTIVE,NaT,NaN
5,7,118037,2121-05-23 15:05:00,2121-05-27 11:57:00,NaT,NEWBORN,NaT,NaN
6,8,159514,2117-11-20 10:22:00,2117-11-24 14:20:00,NaT,NEWBORN,NaT,NaN
7,9,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,EMERGENCY,NaT,NaN
8,10,184167,2103-06-28 11:36:00,2103-07-06 12:10:00,NaT,NEWBORN,NaT,NaN
9,11,194540,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,EMERGENCY,NaT,NaN
10,12,112213,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,ELECTIVE,NaT,NaN
11,13,143045,2167-01-08 18:43:00,2167-01-15 15:15:00,NaT,EMERGENCY,NaT,NaN
12,16,103251,2178-02-03 06:35:00,2178-02-05 10:51:00,NaT,NEWBORN,NaT,NaN
13,17,194023,2134-12-27 07:15:00,2134-12-31 16:05:00,NaT,ELECTIVE,2135-05-09 14:11:00,EMERGENCY
14,17,161087,2135-05-09 14:11:00,2135-05-13 14:40:00,NaT,EMERGENCY,NaT,NaN
15,18,188822,2167-10-02 11:18:00,2167-10-04 16:15:00,NaT,EMERGENCY,NaT,NaN
16,19,109235,2108-08-05 16:25:00,2108-08-11 11:29:00,NaT,EMERGENCY,NaT,NaN
17,20,157681,2183-04-28 09:45:00,2183-05-03 14:45:00,NaT,ELECTIVE,NaT,NaN
18,21,109451,2134-09-11 12:17:00,2134-09-24 16:15:00,NaT,EMERGENCY,2135-01-30 20:50:00,EMERGENCY
19,21,111970,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,EMERGENCY,NaT,NaN
20,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,EMERGENCY,NaT,NaN
21,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,ELECTIVE,2157-10-18 19:34:00,EMERGENCY
22,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaT,EMERGENCY,NaT,NaN
23,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,EMERGENCY,NaT,NaN
24,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,EMERGENCY,NaT,NaN
25,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaT,EMERGENCY,NaT,NaN
26,27,134931,2191-11-30 22:16:00,2191-12-03 14:45:00,NaT,NEWBORN,NaT,NaN
27,28,162569,2177-09-01 07:15:00,2177-09-06 16:00:00,NaT,ELECTIVE,NaT,NaN
28,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaT,URGENT,NaT,NaN
29,31,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,EMERGENCY,NaT,NaN
30,32,175413,2170-04-04 08:00:00,2170-04-23 12:45:00,NaT,ELECTIVE,NaT,NaN
31,33,176176,2116-12-23 22:30:00,2116-12-27 12:05:00,NaT,EMERGENCY,NaT,NaN
32,34,115799,2186-07-18 16:46:00,2186-07-20 16:00:00,NaT,EMERGENCY,2191-02-23 05:23:00,EMERGENCY
33,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaT,EMERGENCY,NaT,NaN
34,35,166707,2122-02-10 11:15:00,2122-02-20 15:30:00,NaT,ELECTIVE,NaT,NaN
35,36,182104,2131-04-30 07:15:00,2131-05-08 14:00:00,NaT,EMERGENCY,2131-05-12 19:49:00,EMERGENCY
36,36,122659,2131-05-12 19:49:00,2131-05-25 13:30:00,NaT,EMERGENCY,NaT,NaN
37,36,165660,2134-05-10 11:30:00,2134-05-20 13:16:00,NaT,ELECTIVE,NaT,NaN
38,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaT,EMERGENCY,NaT,NaN
39,38,185910,2166-08-10 00:28:00,2166-09-04 11:30:00,NaT,EMERGENCY,NaT,NaN
40,39,106266,2114-11-29 21:04:00,2114-12-09 15:10:00,NaT,NEWBORN,NaT,NaN
41,41,101757,2132-12-31 10:30:00,2133-01-27 15:45:00,NaT,ELECTIVE,NaT,NaN
42,42,119203,2116-04-26 18:58:00,2116-04-30 18:16:00,NaT,EMERGENCY,NaT,NaN
43,43,146828,2186-10-01 23:15:00,2186-10-11 18:00:00,NaT,EMERGENCY,NaT,NaN
44,44,181750,2192-11-19 18:14:00,2192-11-27 14:35:00,NaT,EMERGENCY,NaT,NaN
45,45,157907,2129-06-10 00:32:00,2129-06-20 14:39:00,NaT,EMERGENCY,NaT,NaN
46,46,144073,2133-02-20 18:21:00,2133-02-24 14:42:00,NaT,EMERGENCY,NaT,NaN
47,49,190539,2186-11-21 07:15:00,2186-11-28 14:05:00,NaT,ELECTIVE,NaT,NaN
48,50,132761,2112-06-23 19:40:00,2112-06-26 10:15:00,NaT,NEWBORN,NaT,NaN
49,51,196010,2128-11-30 10:28:00,2128-12-02 12:35:00,NaT,NEWBORN,NaT,NaN

In [59]:
df_adm['DAYS_NEXT_ADMIT']=  (df_adm.NEXT_ADMITTIME - df_adm.DISCHTIME).dt.total_seconds()/(24*60*60)

In [60]:
df_adm.head(50)

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,NEXT_ADMITTIME,NEXT_ADMISSION_TYPE,DAYS_NEXT_ADMIT
0,2,163353,2138-07-17 19:04:00,2138-07-21 15:48:00,NaT,NEWBORN,NaT,NaN,NaN
1,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,EMERGENCY,NaT,NaN,NaN
2,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,EMERGENCY,NaT,NaN,NaN
3,5,178980,2103-02-02 04:31:00,2103-02-04 12:15:00,NaT,NEWBORN,NaT,NaN,NaN
4,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,ELECTIVE,NaT,NaN,NaN
5,7,118037,2121-05-23 15:05:00,2121-05-27 11:57:00,NaT,NEWBORN,NaT,NaN,NaN
6,8,159514,2117-11-20 10:22:00,2117-11-24 14:20:00,NaT,NEWBORN,NaT,NaN,NaN
7,9,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,EMERGENCY,NaT,NaN,NaN
8,10,184167,2103-06-28 11:36:00,2103-07-06 12:10:00,NaT,NEWBORN,NaT,NaN,NaN
9,11,194540,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,EMERGENCY,NaT,NaN,NaN
10,12,112213,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,ELECTIVE,NaT,NaN,NaN
11,13,143045,2167-01-08 18:43:00,2167-01-15 15:15:00,NaT,EMERGENCY,NaT,NaN,NaN
12,16,103251,2178-02-03 06:35:00,2178-02-05 10:51:00,NaT,NEWBORN,NaT,NaN,NaN
13,17,194023,2134-12-27 07:15:00,2134-12-31 16:05:00,NaT,ELECTIVE,2135-05-09 14:11:00,EMERGENCY,128.920833
14,17,161087,2135-05-09 14:11:00,2135-05-13 14:40:00,NaT,EMERGENCY,NaT,NaN,NaN
15,18,188822,2167-10-02 11:18:00,2167-10-04 16:15:00,NaT,EMERGENCY,NaT,NaN,NaN
16,19,109235,2108-08-05 16:25:00,2108-08-11 11:29:00,NaT,EMERGENCY,NaT,NaN,NaN
17,20,157681,2183-04-28 09:45:00,2183-05-03 14:45:00,NaT,ELECTIVE,NaT,NaN,NaN
18,21,109451,2134-09-11 12:17:00,2134-09-24 16:15:00,NaT,EMERGENCY,2135-01-30 20:50:00,EMERGENCY,128.190972
19,21,111970,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,EMERGENCY,NaT,NaN,NaN
20,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaT,EMERGENCY,NaT,NaN,NaN
21,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaT,ELECTIVE,2157-10-18 19:34:00,EMERGENCY,1501.016667
22,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaT,EMERGENCY,NaT,NaN,NaN
23,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaT,EMERGENCY,NaT,NaN,NaN
24,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaT,EMERGENCY,NaT,NaN,NaN
25,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaT,EMERGENCY,NaT,NaN,NaN
26,27,134931,2191-11-30 22:16:00,2191-12-03 14:45:00,NaT,NEWBORN,NaT,NaN,NaN
27,28,162569,2177-09-01 07:15:00,2177-09-06 16:00:00,NaT,ELECTIVE,NaT,NaN,NaN
28,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaT,URGENT,NaT,NaN,NaN
29,31,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,EMERGENCY,NaT,NaN,NaN
30,32,175413,2170-04-04 08:00:00,2170-04-23 12:45:00,NaT,ELECTIVE,NaT,NaN,NaN
31,33,176176,2116-12-23 22:30:00,2116-12-27 12:05:00,NaT,EMERGENCY,NaT,NaN,NaN
32,34,115799,2186-07-18 16:46:00,2186-07-20 16:00:00,NaT,EMERGENCY,2191-02-23 05:23:00,EMERGENCY,1678.557639
33,34,144319,2191-02-23 05:23:00,2191-02-25 20:20:00,NaT,EMERGENCY,NaT,NaN,NaN
34,35,166707,2122-02-10 11:15:00,2122-02-20 15:30:00,NaT,ELECTIVE,NaT,NaN,NaN
35,36,182104,2131-04-30 07:15:00,2131-05-08 14:00:00,NaT,EMERGENCY,2131-05-12 19:49:00,EMERGENCY,4.242361
36,36,122659,2131-05-12 19:49:00,2131-05-25 13:30:00,NaT,EMERGENCY,NaT,NaN,NaN
37,36,165660,2134-05-10 11:30:00,2134-05-20 13:16:00,NaT,ELECTIVE,NaT,NaN,NaN
38,37,188670,2183-08-21 16:48:00,2183-08-26 18:54:00,NaT,EMERGENCY,NaT,NaN,NaN
39,38,185910,2166-08-10 00:28:00,2166-09-04 11:30:00,NaT,EMERGENCY,NaT,NaN,NaN
40,39,106266,2114-11-29 21:04:00,2114-12-09 15:10:00,NaT,NEWBORN,NaT,NaN,NaN
41,41,101757,2132-12-31 10:30:00,2133-01-27 15:45:00,NaT,ELECTIVE,NaT,NaN,NaN
42,42,119203,2116-04-26 18:58:00,2116-04-30 18:16:00,NaT,EMERGENCY,NaT,NaN,NaN
43,43,146828,2186-10-01 23:15:00,2186-10-11 18:00:00,NaT,EMERGENCY,NaT,NaN,NaN
44,44,181750,2192-11-19 18:14:00,2192-11-27 14:35:00,NaT,EMERGENCY,NaT,NaN,NaN
45,45,157907,2129-06-10 00:32:00,2129-06-20 14:39:00,NaT,EMERGENCY,NaT,NaN,NaN
46,46,144073,2133-02-20 18:21:00,2133-02-24 14:42:00,NaT,EMERGENCY,NaT,NaN,NaN
47,49,190539,2186-11-21 07:15:00,2186-11-28 14:05:00,NaT,ELECTIVE,NaT,NaN,NaN
48,50,132761,2112-06-23 19:40:00,2112-06-26 10:15:00,NaT,NEWBORN,NaT,NaN,NaN
49,51,196010,2128-11-30 10:28:00,2128-12-02 12:35:00,NaT,NEWBORN,NaT,NaN,NaN

In [61]:
use_cols = ['SUBJECT_ID', 'HADM_ID', 'CATEGORY', 'TEXT']

In [62]:
df_notes = pd.read_csv(r'data\NOTEEVENTS.csv',usecols= use_cols, low_memory = False, engine = "c")

In [63]:
df_notes_dis_sum = df_notes.loc[df_notes.CATEGORY == 'Discharge summary']

In [64]:
df_notes_dis_sum_last = (df_notes_dis_sum.groupby(['SUBJECT_ID','HADM_ID']).nth(-1)).reset_index()

In [65]:
df_adm_notes = pd.merge(df_adm, df_notes_dis_sum_last, on = ['SUBJECT_ID','HADM_ID'],how = 'left')

In [66]:
df_adm_notes.TEXT.isnull().sum() / len(df_adm_notes)

0.1059753119913185

In [67]:
df_adm_notes.groupby('ADMISSION_TYPE').apply(lambda g: g.TEXT.isnull().sum())/df_adm_notes.groupby('ADMISSION_TYPE').size()

ADMISSION_TYPE
ELECTIVE     0.048663
EMERGENCY    0.037983
NEWBORN      0.536691
URGENT       0.042665
dtype: float64

In [68]:
df_adm_notes_clean = df_adm_notes.loc[df_adm_notes.ADMISSION_TYPE != "NEWBORN"]

In [69]:
df_adm_notes_clean['OUTPUT_LABEL'] = (df_adm_notes_clean.DAYS_NEXT_ADMIT < 30).astype('int')

In [70]:
df_adm_notes_clean.head()

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,NEXT_ADMITTIME,NEXT_ADMISSION_TYPE,DAYS_NEXT_ADMIT,index,CATEGORY,TEXT,OUTPUT_LABEL
1,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaT,EMERGENCY,NaT,NaN,NaN,48470.0,Discharge summary,Admission Date: [**2101-10-20**] Discharg...,0
2,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaT,EMERGENCY,NaT,NaN,NaN,4782.0,Discharge summary,Admission Date: [**2191-3-16**] Discharge...,0
4,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaT,ELECTIVE,NaT,NaN,NaN,24476.0,Discharge summary,Admission Date: [**2175-5-30**] Dischar...,0
7,9,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,EMERGENCY,NaT,NaN,NaN,57341.0,Discharge summary,"Name: [**Known lastname 10050**], [**Known fi...",0
9,11,194540,2178-04-16 06:18:00,2178-05-11 19:00:00,NaT,EMERGENCY,NaT,NaN,NaN,34829.0,Discharge summary,Admission Date: [**2178-4-16**] ...,0

In [71]:
df_adm_notes_clean.OUTPUT_LABEL.value_counts()

OUTPUT_LABEL
0    48109
1     3004
Name: count, dtype: int64

In [72]:
df_adm_notes_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51113 entries, 1 to 58975
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SUBJECT_ID           51113 non-null  int64
 1   HADM_ID              51113 non-null  int64
 2   ADMITTIME            51113 non-null  datetime64[ns]
 3   DISCHTIME            51113 non-null  datetime64[ns]
 4   DEATHTIME            5792 non-null   datetime64[ns]
 5   ADMISSION_TYPE       51113 non-null  object
 6   NEXT_ADMITTIME       11169 non-null  datetime64[ns]
 7   NEXT_ADMISSION_TYPE  11169 non-null  object
 8   DAYS_NEXT_ADMIT      11169 non-null  float64
 9   index                49083 non-null  float64
 10  CATEGORY             49083 non-null  object
 11  TEXT                 49083 non-null  object
 12  OUTPUT_LABEL         51113 non-null  int32
dtypes: datetime64[ns](4), float64(2), int32(1), int64(2), object(4)
memory usage: 5.3+ MB

In [73]:
df_adm_notes_clean.to_pickle('Prepared_Data.pkl')